.abo1{
    background-color: black;
}
.abo2{
    background: 
    linear-gradient( to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 1) 40%, rgb(107, 73, 0) 100%);
}
.abomage{
    background: 
    linear-gradient( to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("https://images.unsplash.com/photo-1602989106211-81de671c23a9?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGFkZHklMjBmaWVsZHxlbnwwfHwwfHx8MA%3D%3D");
}
.monback{
    width: 18%;
}
.monback2{
    width: 28%;
}
.abomage3{
    background: 
    linear-gradient( to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("https://cdn.discordapp.com/attachments/903660417073680394/1170057322924609536/FoodTank_agriculturesubsidiesworldbankreport.jpg?ex=6557a7cc&is=654532cc&hm=d87e59c25b6f399ccd1e81ef6c4b0bb30d639d42e6ba75508cae28fe81d7ddb4&");
}
.abomage4{
    background: 
    linear-gradient( to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/TNC22001_210918_00931.jpg?crop=0%2C435%2C3700%2C2035&wid=4000&hei=2200&scl=0.925");
background-size: cover;
}
.sqrmage{
    width: 16.2rem;
    height: 16.2rem;
    object-fit: cover;
}
.card {
    width: 16.313rem;
}