@font-face {
  font-family: myFirstFont;
  src: url(SamarkanNormal-Gg5D.ttf);
}
.tra{
position: relative;
top: 2px;
left: 8px;
width: 5.2rem;
padding: 0;
overflow: hidden; 
  border-right: .10em solid orange; 
  white-space: nowrap; 
  font-family: myFirstFont;
  letter-spacing: .10em; 
  animation: 
    typing 2s steps(8, end),
    blink-caret 1s step-end -0.5s infinite;
    

}
@keyframes typing {
    from { width: 0 }
    to { width: 5.2rem }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 0, 0); }
  }
  /* @media only screen and (min-width: 992px){
      .nas{
          position: absolute;
          left: 36%;
        } 

  }
   */
    .loga{
        width: 2rem;
        filter: drop-shadow(2px 2px 2px black);
    }
    
    .nav-background {
      background: rgb(255,222,89);
      background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(254,145,76,1) 100%); 

        /* Workaround for some mobile browsers */
        min-height: 100%;
      }
    .resi{
      width: 1.5rem;
    }
    .resibag{
      width: 1.25rem;
    }
      .ktt{
      
      position: relative;
      left: 50%;
      top: -5px;
    }
    .ktbag{
      
      position: relative;
      left: 50%;
    }
    .ktlogin{
      
      position: relative;
      left: 50%;
      
    }
    .po{
      position: relative;
      top: 1rem;
    }
    .fon{
      font-size: 0.75rem;
    }
    @media only screen and (min-width: 992px){
      .img-fluid{
        height: 500px;
        width: auto;
        /* position: relative;
        left: 20%; */
      }
    }
    .bgkaimg{
      background:
      linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
         url("https://images.unsplash.com/photo-1586771107445-d3ca888129ff?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGFncmljdWx0dXJlfGVufDB8fDB8fHww");
      background-size: cover;
      height: 550px;
      
    }