.tra{
position: relative;
top: -2px;
left: 8px;
width: 3.8rem;
padding: 0;
overflow: hidden; 
  border-right: .10em solid orange; 
  white-space: nowrap; 
  
  letter-spacing: .10em; 
  animation: 
    typing 1.5s steps(6, end),
    blink-caret 1s step-end -0.5s infinite;
    

}
@keyframes typing {
    from { width: 0 }
    to { width: 3.8rem }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 0, 0); }
  }
  /* @media only screen and (min-width: 992px){
      .nas{
          position: absolute;
          left: 36%;
        } 

  }
   */
    .loga{
        width: 2rem;
        filter: drop-shadow(3px 3px 2px);
    }
    
    .nav-background {
        background-image: url("https://images.unsplash.com/photo-1587351021355-a479a299d2f9?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aG9zcGl0YWwlMjBidWlsZGluZ3xlbnwwfHwwfHx8MA%3D%3D");
        background-size: cover;

        /* Workaround for some mobile browsers */
        min-height: 100%;
      }
    